
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%; /* light gray */
    --foreground: 224 71% 4%;
    --card: 240 10% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 240 10% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 276 100% 20%; /* deep, dark purple */
    --primary-foreground: 0 0% 98%;
    --secondary: 246 100% 78%; /* vibrant violet */
    --secondary-foreground: 276 100% 20%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 90%; /* For interactive elements */
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 276 100% 20%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 276 100% 70%; /* Lighter purple for dark mode */
    --primary-foreground: 276 100% 20%;
    --secondary: 246 100% 78%;
    --secondary-foreground: 276 100% 20%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 276 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
   ::selection {
    @apply bg-primary text-primary-foreground;
  }
}

@layer utilities {
 .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
}

.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 2rem));
  }
}

.logo-track {
  display: flex;
  width: max-content;
  gap: 4rem;
  animation: scroll 30s linear infinite;
}
